<!-- <h1>{{title}}</h1>
<mat-slider min="1" max="100" step="1" value="1">

</mat-slider>

    <h1>Todo list</h1>
<input type="text" placeholder="enter new task" #task>

<br> <br>
<button (click)="addTask(task.value)">Add Task</button>

<ul *ngFor="let item of list">
    <li>
        {{item.name}} <button (click)="remove(item.id)">Remove</button>
    </li>

</ul>


<app-child [item]="data">

</app-child>

<button (click)="updateChild()">Update Child</button>

<ul *ngFor="let user of userDetails">
    <app-user-details [item]="user">
        
    </app-user-details>
</ul>
{{data1}}

<app-child1 (updateDataEvent)="updateData($event)" ></app-child1>

<input type="text" name="text" id="name" [(ngModel)]="name1">
<h1>{{name1}}</h1>

<p>{{title | uppercase}}</p>

<h1>{{today | date}}</h1>

<p>{{users1 | json }}</p>


<p>{{20 | usdToInr : 75}}</p>

<p>Tempalte Driven form</p>

<form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
    <input type="text" ngModel name="name" placeholder="Enter Name">
    <br>
    <br>
    <input type="password" ngModel name="password" placeholder="Enter Password">
    <br><br>
    <button>Login</button>
</form>
-->

<p>Reactice Form</p>

<form [formGroup]="loginForm1" (ngSubmit)="loginUser()">
    <input type="text" name="user" formControlName="user" placeholder="Enter Name">
    <br><br>

    <input type="password" name="password" formControlName="password" placeholder="Enter Password">

    <br><br>

    <button>Login</button>
</form>






